.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 170px;
}

.services-title{
    position: relative;
    margin-bottom: -10px;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    margin-top: -30px;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
}


.services-format h3{
    font-size: 22px;
    font-weight: 600;
}

.services-format h2{
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(270deg, #85ed0f 50%, #2e91c6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p{
    color: #d4d4d4;
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
}

.services-readmore{
    display: flex;
    gap:20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    border: 2px solid #2e91c6;
    background-image: linear-gradient(45deg, #adcd0c,#ebae06);
    transform: scale(1.05);
    transition: 0.4s;
}
